@(forms: List[Students])



@main("StudentData Catalouge"){


	<h4><a href = "@routes.StudentData.newform()">
	<i class="icon-plus"></i> Add Student</a></h4>
	<h3>Students Details</h3>
	
	<script>
	function del(urlToDelete){
	$.ajax({
	url: urlToDelete,
	type: 'DELETE',
	success: function(results){
	location.reload();
	}
	});
	}
	</script>
	
	<table class="table table-striped">
	<thead>
	<tr>
	<th>Rollno</th>
	<th>Name</th>
	<th>Age</th>
	<th>Major</th>
	</tr>
	</thead>
	<tbody>
	
	@for(Students  <- forms ){
	<tr>
	
	<td><a href = "@routes.StudentData.details">@Students.rollno</a></td>
	<td><a href = "@routes.StudentData.details">@Students.name></a></td>
	<td><a href = "@routes.StudentData.details">@Students.age></a></td>
	<td><a href = "@routes.StudentData.details">@Students.major_id></a></td>
	<td>
		<a  href ="@routes.StudentData.edit(Students.id)"class = "btn" >edit</a>

	
	<a onclick = "del('@routes.StudentData.removestudent(Students.id)')" 
	class = "btn">delete</a>
	
	</td>
	</tr>
	
	}
	</tbody>
	</table>
	
}