@(studentForm : Form[Students])


@import helper._
@import helper.twitterBootstrap._

@main("NEW FORM"){
<h2>Student Information</h2>
@helper.form(action = routes.StudentData.save()){
<fieldset>

<legend>Students (@studentForm("name").valueOr("New"))</legend>															  				
@helper.inputText(studentForm("id"), '_label -> "id")
@helper.inputText(studentForm("rollno"), '_label -> "rollno")
@helper.inputText(studentForm("name"), '_label -> "Name")
@helper.inputText(studentForm("age"), '_label -> "age")
@helper.select( studentForm("major_id"), options(Seq("1","2","3")), '_label -> "Major")


</fieldset>
<input type = "submit" class="btn btn-primary" value = "save">
<a class = "btn" href = "@routes.StudentData.index()">Cancel</a>


}	
}
