@(studentForm : Form[Students])


@import helper._
@import helper.twitterBootstrap._

@main("NEW FORM"){
<h2>Student Information</h2>
@helper.form(action = routes.StudentData.save()){
<fieldset>

<legend>Students (@studentForm("name").valueOr("New"))</legend>
@helper.inputText(studentForm("rollno"), '_label -> "rollno")
@helper.inputText(studentForm("name"), '_label -> "Name")
@helper.inputText(studentForm("age"), '_label -> "age")
@helper.inputText(studentForm("major_id"), '_label ->
select(
   studentForm("Refer major_id"),
   options(Seq("math 1","physics 2","computers 3")),
   '_label -> "Major_Id", '_default -> "-- Refer Major id --"

)
)

</fieldset>
<input type = "submit" class="btn btn-primary" value = "save">
<a class = "btn" href = "@routes.StudentData.index()>Cancel</a>


}

}