@(majorForm : Form[Majors])
@import helper._
@import helper.twitterBootstrap._

@main("NEW FORM"){
<h2>Major Information</h2>
@helper.form(action = routes.MajorData.save()){
<fieldset>

<legend>Majors (@majorForm("name").valueOr("New"))</legend>
@helper.inputText(majorForm("major_id"), '_label -> "major_id")
@helper.inputText(majorForm("major_name"), '_label -> "Major Name")

</fieldset>
<input type = "submit" class="btn btn-primary" value = "save">
<a class = "btn" href = "@routes.MajorData.index()>Cancel</a>


}

}